:root {
	--accent-color: #2196f3;
	--first-title-color: #ffffff;
	--second-title-color: #212121;
	--first-btn-color: #ffffff;
	--second-btn-color: #212121;
	--text-color: #757575;
	--logo-color: #000000;
	--contacts-color: rgba(255, 255, 255, 0.6);
	--first-light-color: #ffffff;
	--second-light-color: #f5f4fa;
	--third-light-color: #e5e5e5;
	--dark-color: #2f303a;
}